.FavoriteButton {
  margin: 5px;
  text-align: center;
  padding: 5px 25px;
  color: #f1f1f1;
  border: 0;
  background-color: red;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #e50914;
  cursor: pointer;
  &:hover {
    background-color: rgb(189, 15, 15);
  }
}

.favorite {
  background-color: transparent;
  border: 1px solid #e50914;
  box-sizing: border-box;
  border-radius: 4px;
  &::after {
    content: '💔';
    padding-left: 10px;
  }
  &:hover {
    background-color: #222;
  }
}
