.HeaderPrivate {
    height: 70px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: red;
        &__logo {
            text-decoration: none;
            color: red;
            font-size: 30px;
            font-weight: bold;
        }
}