.Main {
  width: 100vw;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__movies {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
