.PageLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgb(218, 218, 218);
}

.MainContent {
    display: flex;
    justify-content: center;
}